/*  CONFIGURAÇÕES GERAIS  */

@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900&display=swap');

:root {
  --tamanho-header: 70px;
  --tamanho-footer: 60px;
  --tamanho-banner: calc(100vh - var(--tamanho-header) - var(--tamanho-footer) - 2px);
  --tamanho-simulador: calc(100vh - var(--tamanho-header) - var(--tamanho-footer) - 2px);
  --tamanho-login: calc(100vh - var(--tamanho-header) - var(--tamanho-footer) - 2px);

  --cor-principal: #101046;
  --cor-secundaria: whitesmoke;
  --cor-terciaria: #1565c0;
  --cor-fundo: rgb(26, 66, 122);
  --cor-texto-footer: #fff;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Barlow', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: whitesmoke;
  color: rgb(90, 90, 90);
}


/*     HEADER   */

.header {
    background-color: var(--cor-principal);
    border-bottom: 2px solid var(--cor-secundaria);
    height: var(--tamanho-header);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 5%;
  }
  
  .imgTitulo {
    width: 135px;
    height: auto;
  }

  /*     NAVBAR   */
  
  .navbar {
    display: flex;
    gap: 35px;
    list-style: none;
    margin: auto; 
  }
  
  .navbar a {
    text-decoration: none;
    color: var(--cor-secundaria);
    font-size: 18px;
    font-weight: 600;
    transition: color 0.3s ease-in-out;
  }
  
  .navbar a:hover {
    color: deepskyblue;
  }

  .backAzul {
    background-color: #101046; 
  }
  
  
  /*  BOTÕES LOGIN/CADASTRO */
  
  .auth-buttons {
    display: flex;
    gap: 20px;
  }
  
  .auth-buttons a {
    text-decoration: none;
    color: white;
    padding: 8px 18px;
    border-radius: 14px;
    font-weight: 600;
    font-size: 18px;
  }
  
  .loginBotao {
    background-color: #007BFF;
  }
  
  .cadastroBotao {
    background-color: #10004f;
  }
  
  
  /*      BANNER      */
  
    .banner {
      height: 450px;
      color: white;
      background-image: url('../assets/imgs/banner\ aviao.jpg');
      background-size: cover;
      background-position: center;
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
    }
    
    .banner .container {
      justify-content: center;
      align-items: center;
      height: 100%;
    }
  
    .banner .container p {
      width: 50%;
      font-size: 34px;
      font-weight: 600;
    }
    
    .banner .container span {
      font-weight: 800;
    }
  
    .container {
      display: flex;
      width: 80%;
      margin: auto;
    }


  /*       CADASTRO        */

  .login {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('../assets/imgs/banner\ aviao.jpg');
    background-size: cover; 
    background-position: center; 
    height: 90vh; 
    text-align: center;
    width: 100%; 
  }
  
  .login-container {
    width: 630px; 
    padding: 30px;
    background-color: var(--cor-principal); 
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    animation: fadeInTop 1s;
  }
  
  .login-container .login-text {
    color: #fff;
    margin-bottom: 60px;
    text-align: center;
  }
  
  .login-container .login-text h1 {
    font-size: 2rem;
  }
  
  .login-container .login-text p {
    font-size: 1.4rem;
  }
  
  .login-container .login-text span {
    font-size: 0.87rem;
  }
  
  .login-container .login-text a {
    color: white;
    font-weight: 500;
  
  }
  
  .form-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
  }
  
  
/* Ajuste do formulário para duas colunas */
.form-container .input-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 45px;
    width: 100%;
}

  .form-container .input-container .input {
    display: flex;
    align-items: center;
    width: 100%;
    position: relative;
    background: none;
    border: 1px solid #fff;
    border-radius: 7px;
  }

  .form-container .input-container input {
    width: 100%;
    height: 8px;
    background: none;
    outline: none;
    border: none;
    color: #fff;
    font-size: 14px;
    padding-left: 35px; 
    padding-bottom: 6px;
  }
  
  .form-container .input-container .input span {
    color: #fff;
    font-size: 0.9rem;
    font-weight: bold;
    position: absolute;
    top: -20px; 
    left: 5px;
  }
  
  .form-container .input-container input::placeholder {
    color: #ccc; 
    opacity: 1;
    line-height: normal;
  }
  
  .form-container .input-container .input i {
    position: absolute;
    left: 10px; 
    color: #fff;
    font-size: 1rem;
  }

  
  .form-container .input-container .input .fa-eye,
.form-container .input-container .input .fa-eye-slash {
  position: absolute;
  right: 10px; 
  left: auto;
  font-size: 1rem;
  cursor: pointer;
  z-index: 10; /* Adicione o z-index */
}

.form-container .input-container .input .fa-eye,
.form-container .input-container .input .fa-eye-slash {
  pointer-events: auto; /* Garantir que o ícone responda aos cliques */
}

  /* botão de login */
  .form-container .form-button {
    width: 100%;
    height: 35px;
    margin-top: 15px;
    background-color: #215db8; 
    color: white;
    font-weight: 800;
    border: none;
    border-radius: 10px;
    transition: 0.4s;
  }
  
  .form-container .form-button:hover {
    border: 2px solid white; 
    color: #fff;
    cursor: pointer;
    transition: 0.3s;
  }
  
  .form-container .text {
    color: #fff;
    font-size: 0.85rem;
    font-style: italic;
  }
  
  .form-container .text.register {
    align-self: center;
    margin-top: 15px;
  }
  
  
  /* mensagem de erro */
  .alerta_erro {
    display: none; /* Inicialmente escondido */
    position: fixed;
    top: 10%;
    left: 50%;
    transform: translateX(-50%);
    background-color: #f8d7da;
    color: #721c24;
    border: 1px solid #f5c6cb;
    padding: 15px;
    border-radius: 5px;
    width: 80%;
    max-width: 400px;
    text-align: center;
    font-size: 16px;
    z-index: 1000;
}

/* mensagem de cadastro realizado */
.alerta_cadastro_realizado {
  display: none; /* Inicialmente escondido */
  position: fixed;
  top: 10%;
  left: 50%;
  transform: translateX(-50%);
  background-color: #def8d7;
  color: #2a8f1c;
  border: 1px solid #def8d7;
  padding: 15px;
  border-radius: 5px;
  width: 80%;
  max-width: 400px;
  text-align: center;
  font-size: 16px;
  z-index: 1000;
}

.alerta_erro span,
.alerta_cadastro_realizado span {
    font-weight: bold;
}
  
  /* loading */
  .loading-div {
    width: 50px;
    margin: auto;
    display: none;
  }
  
  .loading-div img {
    height: 50px;
    width: 50px;
  }


  /* FORMULARIO */

.formulario .tipo_campo {
  font-size: 20px;
  font-weight: 600 !important;
}

.formulario {
  display: flex;
  flex-direction: column;
}

input {
  margin-bottom: 10px;
  border: 2px solid #32b9cd;
  padding: 10px;
  text-align: center;
  border-radius: 10px;
}

.btn {
  font-family: "Barlow", sans-serif;
  border: 0;
  border-radius: 5px;
  font-weight: 600;
  font-size: 18px;
  padding: 10px 15px;
  color: white;
  background-color: #ED145B;
  width: 120px;
  align-self: center;
  margin-top: 5px;
}

.form-container .input-container select {
  width: 100%;
  height: 36px;
  background-color: #215db8; /* Azul igual do botão */
  outline: none;
  border: none;
  color: #fff;
  font-size: 14px;
  padding-left: 35px;
  padding-bottom: 6px;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}


/* Estilo da borda, igual aos inputs */
.form-container .input-container .input select {
  background: none;
  border: none;
  color: #fff;
}

/* Estilo para o ícone */
.form-container .input-container .input i {
  position: absolute;
  left: 10px;
  color: #fff;
  font-size: 1rem;
  pointer-events: none;
}




 /* Select tipo de conta  */

 .custom-select-wrapper {
  position: relative;
  width: 100%;
  user-select: none;
}

.custom-select {
  position: relative;
  background-color: var(--cor-principal);
  color: #fff;
  padding: 10px 19px;
  border-radius: 7px;
  border: 1px solid #fff;
  cursor: pointer;
  font-size: 15px;
}

.custom-select-trigger {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.custom-options {
  position: absolute;
  top: calc(100% + 5px);
  left: 0;
  width: 100%;
  background-color: var(--cor-terciaria);
  border-radius: 7px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  min-height: 30px; 
  overflow-y: auto;
  display: none;
  flex-direction: column;
  z-index: 1000;
}

.custom-option {
  padding: 30px 20px; /* opções mais espaçosas */
  font-size: 15px;
  transition: background-color 0.2s;
}

.custom-option:hover {
  background-color: #1a4ca0;
  cursor: pointer;
}

/* Esconde a scrollbar feia */
.custom-options::-webkit-scrollbar {
  width: 0px;
}

.custom-options::-webkit-scrollbar-track {
  background: transparent;
}

.form-container .input-container select {
  display: flex;
  flex-direction: column; /* Agora vai um embaixo do outro */
  justify-content: center;
  align-items: flex-start; /* Alinha para a esquerda */
  padding: 16px;
  font-size: 16px;
}

/* animação do container caindo*/
@keyframes fadeInTop {
    0% {
      opacity: 0;
      transform: translateY(-20px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
/* Ajuste para telas menores */
@media (max-width: 768px) {
    .form-container .input-container {
        grid-template-columns: 1fr; /* Volta para uma coluna no mobile */
    }
}


